backports.tarfile
cairosvg
docopt
inflect
jaraco-collections
jaraco-functools
jaraco.collections
mike
mkdocs-autorefs
mkdocs-awesome-nav
mkdocs-git-revision-date-localized-plugin
mkdocs-git-revision-date-plugin
mkdocs-material
mkdocs-minify-plugin
mkdocs-redirects
mkdocs-section-index
pip-chill
regex
shtab
tomli
yarg
