CairoSVG
EditorConfig
Jinja2
Pygments
codespell
docopt
fonttools
jaraco.collections
jsonschema2md
markdown-version-annotations
mdurl
mike
mkdocs-autolinks-plugin
mkdocs-autorefs
mkdocs-awesome-nav
mkdocs-exclude
mkdocs-exclude-search
mkdocs-git-authors-plugin
mkdocs-git-revision-date-plugin
mkdocs-glightbox
mkdocs-htmlproofer-plugin
mkdocs-import-statement-plugin
mkdocs-link-marker
mkdocs-localsearch
mkdocs-mermaid2-plugin
mkdocs-meta-manager
mkdocs-swagger-ui-tag
more-itertools
neoteroi-mkdocs
pandas
pip-chill
pydantic_core
pygtrie
pyphen
pyyaml_env_tag
symspellpy
weasyprint
yarg
