backports.tarfile
brotli
cairosvg
codespell
docopt
inflect
jaraco-collections
jaraco-functools
jaraco.collections
jsonschema2md
markdown-version-annotations
mike
mkdocs-autolinks-plugin
mkdocs-autorefs
mkdocs-awesome-nav
mkdocs-enumerate-headings-plugin
mkdocs-exclude
mkdocs-exclude-search
mkdocs-git-authors-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-git-revision-date-plugin
mkdocs-glightbox
mkdocs-htmlproofer-plugin
mkdocs-import-statement-plugin
mkdocs-link-marker
mkdocs-localsearch
mkdocs-material
mkdocs-mermaid2-plugin
mkdocs-meta-manager
mkdocs-minify-plugin
mkdocs-redirects
mkdocs-section-index
mkdocs-spellcheck
neoteroi-mkdocs
pandas
pip-chill
pygtrie
regex
shtab
symspellpy
tabulate
tomli
weasyprint
yarg
zopfli
